{% extends "Salle/layout.html.twig" %}
{% block titre %}
	Ajout - {{ parent() }}
{% endblock %}

{% block salleTP_contenu %}
	<h2> Ajouter une salle </h2>
		{% include "@SalleTp/Salle/formulaire.html.twig" %}
{% endblock %}